.jumbotron {
	background-color: #3ab8e8;
	color: black;
	margin-top: 50px;
}

.btn {
	background-color: #9dd4e8;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #277896;
	margin-bottom: 0px;
	margin-top: 10px;
	color: white;
}
footer a {
	color: white;
}
footer a:hover {
	text-decoration: none;
}

.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
}
